<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>قائمة بوتستراب</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <style>
      .list-inline {
        padding-right: 0;
      }
      h2 {
        text-align: right;
      }
      .category a {
        color: rgb(65, 56, 56);
      }
      .reverse-order {
        display: flex;
        flex-direction: row-reverse;
      }
      .category {
        margin-top: 1rem;
      }
      .custom-line-height {
        line-height: 30px;
      }
      .custom-color {
        color: black;
      }
      body{
        background-color: rgb(245, 244, 244);
      }
    </style>
  </head>
  <body dir="rtl">
    <div class="container">








      <hr />
      <div class="row reverse-order">
        <div class="category col-3 mt-4 text-left">
          <h6>About Huawei</h6>
          <ul class="list-inline text-left">
            <li class="mb-3"><a href="#"> Our Company</a></li>
            <li class="mb-3"><a href="#">Sustainability </a></li>
            <li class="mb-3"><a href="#"> Trust Center</a></li>
            <li class="mb-3"><a href="#"> Executives</a></li>
            <li class="mb-3"><a href="#"> Suppliers</a></li>
          </ul>
        </div>
        <div class="category col-3 mt-4 text-left">
          <h6>Products
          </h6>
          <ul class="list-inline text-left">
            <li class="mb-3"><a href="#"> Consumer </a></li>
            <li class="mb-3"><a href="#"> Enterprise </a></li>
            <li class="mb-3"><a href="#"> Carrier</a></li>
            <li class="mb-3"><a href="#"> Huawei Cloud</a></li>

          </ul>
        </div>
        <div class="category col-3 mt-4 text-left">
          <h6>Support</h6>
          <ul class="list-inline text-left">
            <li class="mb-3"><a href="#"> Consumer Support</a></li>
            <li class="mb-3"><a href="#">Huawei Cloud Support </a></li>
            <li class="mb-3"><a href="#"> Enterprise Support</a></li>
            <li class="mb-3"><a href="#"> Carrier Support</a></li>
            <li class="mb-3"><a href="#"> Security Incident Response</a></li>

          </ul>
        </div>
        <div class="category col-3 mt-4 text-left">
          <h6>Explore Huawei</h6>
          <ul class="list-inline text-left">
            <li class="mb-3"><a href="#"> HuaweiTech</a></li>
            <li class="mb-3"><a href="#">Thrive with Digital </a></li>
            <li class="mb-3"><a href="#"> Intelligent World 2030</a></li>
            <li class="mb-3"><a href="#"> Striding Towards the Intelligent</a></li>
            <li class="mb-3"><a href="#"> Huawei Blog</a></li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="category col-6 mt-2">
          <ul class="list-inline text-right font-weight-bold">
            <li class="list-inline-item mx-2">
              <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            </li>
            <li class="list-inline-item mx-2">
              <a href="#"><i class="fa-brands fa-square-twitter"></i> </a>
            </li>
            <li class="list-inline-item mx-2">
              <a href="#"> <i class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="list-inline-item mx-2"><a href="#">English (US)</a></li>
            <li class="list-inline-item mx-2"><a href="#"> $ USD</a></li>
            <li class="list-inline-item mx-2">
              <a href="#"> <i class="fa-solid fa-globe"></i></a>
            </li>
          </ul>
        </div>
        <div class="category col-6 mt-2">
          <ul class="list-inline text-left font-weight-bold">
            <li class="list-inline-item"><a href="#">©2024 Huawei Technologies</a></li>
            <li class="list-inline-item"><a href="#">Terms </a></li>

            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item">
              <a href="#"> Your Privacy Choices</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
