



.form-control{
  width: 600px;
  border: 1px solid black;
}
.form-label{
  margin-left: 50px;
  color: red;

}
.h3-s
{
  font-size: 20px;

}
#img:hover
{
  transform: scale(1.4);
  transition: 1s;

}
#list
{
  margin-top: 50px;
}
